<main id=shoud-be-root>
  <div id=app>
    <div id="auth-page">
      <div class="auth-inner login">
        <div class="auth-brand">
          <div class="auth-logo"></div>
          <div class='auth-logo-name'></div>
        </div>
        <div class="auth-form-container">
          <form class="auth-form">
            <h1>WELCOME BACK!</h1>
            <div class="input-group">
              <label for="email">EMAIL</label>
              <input id="email" type="text">
            </div>
            <div class="input-group">
              <label for="password">PASSWORD</label>
              <input id="password" type="password">
              <div class="forgot-password">
                FORGOT YOUR PASSWORD?
              </div>
            </div>
            <button type="button" name="button">Login</button>
            <div class="footer">
              Need an account?
              <a href="#">Regster</a>
              or
              <a href="#">Login as Guest</a>

            </div>
          </form>
        </div>
      </div>
      <div class="auth-copyright">
        All trademarks and copyrights on this site are owned by their respective owners.
      </div>
    </div>
  </div>
</main>
