<main id=shoud-be-root>
  <div id=app>
    <div id="auth-page">
      <div class="auth-inner login">
        <div class="auth-brand">

        </div>
        <div class="auth-form-container">

        </div>
      </div>
      <div class="auth-copyright">
        All trademarks and copyrights on this site are owned by their respective owners.
      </div>
    </div>
  </div>
</main>
