<main id=shoud-be-root>
  <div id=app>
    <div id="auth-page">
      <div class="auth-inner signup">
        <div class="auth-brand">
          <div class="auth-logo"></div>
          <div class='auth-logo-name'></div>
        </div>
        <div class="auth-form-container">
          <form class="auth-form">
            <h1>CREATE AN ACCOUNT</h1>
            <div class="input-group">
              <label for="email">EMAIL</label>
              <input id="email" type="text">
            </div>
            <div class="input-group">
              <label for="username">USERNAME</label>
              <input id="username" type="text">
            </div>
            <div class="input-group">
              <label class="error" for="password">PASSWORD <span class="error-message">(error message)</span></label>
              <input id="password" type="password">
            </div>
            <button type="button" name="button">Continue</button>
            <div class="disclaimer">
              By registering, you agree to disclone's <a href="#">Terms of Services</a>
              and
              <a href="#">Privacy Policy.</a>
            </div>
            <div class="divider">

            </div>
            <div class="footer">
              Already have an account?
              <a href="#">Login</a>
              or
              <a href="#">Login as Guest</a>
            </div>
          </form>
        </div>
      </div>
      <div class="auth-copyright">
        All trademarks and copyrights on this site are owned by their respective owners.
      </div>
    </div>
  </div>
</main>
