// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
  font-family: 'Mukta Vaani', sans-serif;
  box-sizing: border-box;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #auth-page {
    width: 100%;
    height: 100%;
    display: flex;

    &.background-0 {
      background: image-url('auth_background_0.jpg') fixed no-repeat;
    }
    &.background-1 {
      background: image-url('auth_background_1.jpg') fixed no-repeat;
    }
    &.background-2 {
      background: image-url('auth_background_2.jpg') fixed no-repeat;
    }
    &.background-3 {
      background: image-url('auth_background_3.jpg') fixed no-repeat;
    }
    &.background-4 {
      background: image-url('auth_background_4.jpg') fixed no-repeat;
    }
    &.background-5 {
      background: image-url('auth_background_5.jpg') fixed no-repeat;
    }
    background-position: center;
    background-size: cover;

    .auth-flash {
      background-color: #7289da;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: opacity 0 linear;
      &.inv {
        opacity: 0;
        transition: opacity .5s cubic-bezier(.25,.25,.315,.86);
      }
    }

    .auth-inner {
      &::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(10px);
        margin: -20px;
      }


      margin: auto;
      align-self: center;
      display: flex;
      border-radius: 3px;
      width: 628px;
      background: inherit;
      position: relative;
      z-index: 1;
      overflow: hidden;



      &.login {
        height: 394px;
      }
      &.signup {
        height: 528px;
      }

      .auth-brand {
        width: 228px;
        height: 100%;
        background-color: hsla(0,0%,100%,.8);
        padding: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;

        .auth-logo {
          width: 168px;
          height: 168px;
          background: image-url('discord_logo.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .auth-logo-name {
          width: 168px;
          height: 24px;
          margin-top: 30px;
          margin-bottom: 12px;
          background: image-url('disclone_logo_name.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &::after {
          content: " ";
          background: #4f545c;
          height: 3px;
          margin: 0 auto;
          opacity: .3;
          width: 28px;
        }
      }

      .auth-form-container{
        width: 400px;
        height: 100%;
        background-color: rgba(40,43,48,.75);
        padding: 30px;
        font-family: 'Roboto', sans-serif;

        h1 {
          font-family: inherit;
          color: #fff;
          height: 18px;
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 30px;
          text-align: center;
          // vertical-align: bottom;;
          text-transform: uppercase;
        }

        .input-group:not(:first-of-type){
          margin-top: 18px;
        }

        label {
          color: #87909c;
          display: block;
          height: 11px;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          &.error {
            color: red;
            .error-message {
              font-size: 11px;
              font-weight: 200;
            }
          }
        }

        input {
          background: transparent;
          border-bottom: 1px solid hsla(0,0%,100%,.1);
          padding: 1px;
          height: 36px;
          color: #2f3136;
          font-size: 16px;
          font-weight: 400;
          margin-top: 12px;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          color: #fff;

          &:focus {
            border-bottom: 1px solid hsla(0,0%,100%,1);
          }

        }

        .forgot-password {
          color: #fff;
          font-size: 12px;
          height: 11px;
          font-weight: 700;
          margin: 10px 0 0;
          opacity: .25;
          padding: 0;
          text-transform: uppercase;
          -webkit-transition: opacity .2s ease-out ;
          -moz-transition: opacity .2s ease-out ;
          -o-transition: opacity .2s ease-out ;
          transition: opacity .2s ease-out;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        button {
          display: inline-block;
          font-family: 'Mukta Vaani', sans-serif;
          border-radius: 5px;
          background-color: #7289da;
          color: white;
          line-height: 58px;
          margin: 43px 0 0;
          padding: 0;
          text-align: center;
          text-decoration: none;
          width: 100%;
          -webkit-transition: background-color .2s ease-out ;
          -moz-transition: background-color .2s ease-out ;
          -o-transition: background-color .2s ease-out ;
          transition: background-color .2s ease-out;
          &:hover{
            background-color: #697ec4;
          }
        }

        .footer {
          color: #87909c;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 0;
          margin-top: 10px;
          a {
            color: white;
            &:hover{
              cursor: pointer;
              border-bottom: 2px solid #fff;
              padding-bottom: 5px;
            }
          }
        }
        .divider {
          background-color: hsla(0,0%,100%,.1);
          height: 1px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .disclaimer {
          color: #87909c;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 0;
          margin-top: 20px;
          a {
            color: white;
            &:hover{
              cursor: pointer;
              border-bottom: 2px solid #fff;
              padding-bottom: 5px;
            }
          }
        }
      }
    }


    .auth-copyright {
      bottom: 20px;
      font-weight: 200;
      color: #fff;
      font-size: 12px;
      left: 20px;
      line-height: 14px;
      opacity: .5;
      position: fixed;
      z-index: 1;
    }

  }

  #main-page {
    width: 100%;
    height: 100%;
    display: flex;

    .main-nav {
      background-color: #212226;
      width: 70px;
      height: 100%;
      padding: 10px;

      .dm-list {
        position: relative;
        // background-color: red;
      }

      .selector-wrapper {
        width: 50px;
        height: 50px;
        margin: 10px 0;
        &.true {
          position: relative;
        }
        &.false {
          position: absolute;
        }
        .unreadCounter {
          box-sizing: content-box;
          background-color: red;
          padding: 0 5px;
          text-align: center;
          vertical-align: middle;
          font-size: 12px;
          font-weight: 400;
          height: 16px;
          line-height: 16px;
          border-radius: 5px;
          border: 2px solid #222226;
          position: absolute;
          right: -3px;
          bottom: -3px;
        }
      }

      .server-selector {
        &.mp-selector {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: #303137;
          color: #f9f9f9;
          font-weight: 200;
          font-size: 20px;
          border-radius: 25px;

          -webkit-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          -moz-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          -o-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;

          &:hover {
            background-color: #7289da;
            border-radius: 15px;
            cursor: pointer;
          }

          &.active {
            background-color: #7289da;
            border-radius: 15px;
            cursor: pointer;
          }

          display:flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            width: 60%;
            height: 60%;
            margin: auto;
          }
        }

        &.s-selector {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          width: 50px;
          height: 50px;
          background-color: #303137;
          color: #f9f9f9;
          font-weight: 200;
          font-size: 20px;
          border-radius: 25px;


          -webkit-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          -moz-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          -o-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;
          transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear ;

          &:hover {
            background-color: #7289da;
            border-radius: 15px;
            cursor: pointer;
          }

          &.active {
            background-color: #7289da;
            border-radius: 15px;
            cursor: pointer;
          }

          img {
            width: 60%;
            height: 60%;
            margin: auto;
          }
        }

        &.dm-selector {
          &:hover .user-img{
            background-color: #7289da;
            border-radius: 15px;
            cursor: pointer;
          }

          margin: 10px 0;
          -webkit-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
          -moz-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
          -o-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
          transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
          &.true {
            position: absolute;
            top: -10px;
            left: 0;
          }
          &.false {
            position: absolute;
            top: -10px;
            left: -130%;
          }
          .user-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #303137;
            color: #f9f9f9;
            font-weight: 200;
            font-size: 20px;
            border-radius: 25px;

            overflow: hidden;
            -webkit-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
            -moz-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
            -o-transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
            transition: border-radius 0.55s cubic-bezier(.96,2,.36,.25), background-color 0.3s linear, left 0.07s linear;
          }
        }
      }

      .friends-online {
        width: 50px;
        height: 13px;
        margin: 10px 0;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color: hsl(52, 4%, 37%);
      }

      .server-seperator {
        width: 30px;
        height: 2px;
        margin: 10px auto;
        text-align: center;
        border: 1px solid #2f3136;
      }

      .new-server-button {
        width: 50px;
        height: 50px;
        background-color: #1f2125;
        color: #525558;
        font-weight: 200;
        font-size: 35px;
        border-radius: 25px;
        border: 1px dashed #525558;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        -webkit-transition: all 0.15s linear ;
        -moz-transition: all 0.15s linear ;
        -o-transition: all 0.15s linear ;
        transition: all 0.15s linear ;
        &:hover {
          cursor: pointer;
          background-color: #1f2125;
          color: #fff;
          border: 1px dashed #fff;
        }
      }
    }

    .sub-nav {
      background-color: #303137;
      width: 240px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .head {
        width: 100%;
        height: 48px;
        box-shadow: 0px 1px #232429;
        padding: 0 12px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .name {
          width: 206px;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          text-align: left;
        }

        .indicator {
          color: #acadaf;
          width: 10px;
          height: 10px;
          -webkit-transition: all  0.1s linear ;
          -moz-transition: all 0.1s linear ;
          -o-transition: all 0.1s linear ;
          transition: all 0.1s linear ;
          &.open{
            transform: rotate(-90deg);
          }
        }
        &:hover {
          background-color: #2b2c31;
          cursor: pointer
        }
        &.open {
          background-color: #2b2c31;
        }
      }



      .server-options-popup{
        position: fixed;
        top: 62px;
        left: 298px;
        background-color: white;
        z-index: 2;
        width: 0;
        height: 0;
        border-radius: 5px;
        overflow: hidden;
        -webkit-transition: all  0.1s linear ;
        -moz-transition: all 0.1s linear ;
        -o-transition: all 0.1s linear ;
        transition: all 0.1s linear ;
      }

      .server-options-popup.open{
        left: 82px;
        width: 216px;
        height: 116px;
      }

      .server-option-invite:hover .server-option-icon{
        background-image: image-url('server-options-hover.png');
      }

      .server-option-item:hover .server-option-icon{
        background-image: image-url('server-options-hover.png');
      }

      .server-option-icon{
        width: 18px;
        height: 18px;
        margin-right: 14px;
        background-size: cover;
        z-index: 3;
        background-image: image-url('server-options.png');
      }

      .server-option-icon.server-setting{
        background-position: 0 -39px;
      }

      .server-option-icon.create-channels{
        background-position: 0 -77px;
      }

      .server-option-icon.create-category{
        background-position: 0 -115px;
      }

      .server-option-icon.notification-settings{
        background-position: 0 -154px;
      }

      .server-option-icon.privacy-settings{
        background-position: 0 -192px;
      }

      .server-option-icon.change-nickname{
        background-position: 0 -231px;
      }

      .server-option-icon.hide-muted-channels{
        background-position: 0 -269px;
      }

      .server-option-invite {
        width: 216px;
        height: 38px;
        padding: 10px 14px;
        display: flex;
        align-items: center;
        color: #7289da;
        font-size: 13px;
      }

      .server-option-item {
        width: 216px;
        height: 38px;
        padding: 10px 14px;
        display: flex;
        align-items: center;
        color: #8f98a3;
        font-size: 13px;
      }

      .server-option-invite:hover{
        background-color: #f9f9f9;
        color: #677bc4;
        cursor: pointer
      }

      .server-option-item:hover{
        background-color: #f9f9f9;
        color: #737f8d;
        cursor: pointer
      }

      .server-option-seperator {
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
      }


      // ###HERER


      .content {
        //test
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: calc(100% - 100px);
        padding-top: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar-track{
          border-radius: 10px;
        }

        &::-webkit-scrollbar{
          width: 8px;
          border-radius: 10px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb{
          background-color: transparent;
          border-radius: 10px;
        }


        .dm-list-selectable {
          display: flex;
          align-items: center;
          margin: 1px 8px;
          border-radius: 3px;
          padding: 8px;
          width: 225px;
          height: 40px;
          font-size: 16px;
          font-weight: 500;
          color: #717276;
          .channel-name {
            width: 150px;
          }
          &.active {
            background-color: rgba(79, 84, 92, 0.6);
            color: #f6f6f7;
            &.dm-selector .user-img .status-indicator {
              border: 2px solid #43454d;
            }
            &:hover {
              background-color: rgba(79, 84, 92, 0.6);
              &.dm-selector .user-img .status-indicator {
                border: 2px solid #43454d;
              }
            }
          }
          &:hover {
            color: #f6f6f7;
            background-color: #36393f;
            &.dm-selector .user-img .status-indicator {
              border: 2px solid #37393f;
            }
          }
          &.friends-list {
            &:hover svg{
              color: white;
            }
            &.active svg{
              color: white;
            }
            svg {
              width: 24px;
              height: 24px;
              margin-right: 18px;
            }
          }
          &.dm-selector {
            .user-img {
              background-size: 40px 40px;
              .image-holder {
                overflow:hidden;
                border-radius: 20px;
              }
              height: 30px;
              min-height: 30px;
              width: 30px;
              min-width: 30px;
              margin-right: 12px;
              position: relative;
              .status-indicator {
                border: 2px solid #303137;
                position: absolute;
                clear:both;
                right: -1px;
                bottom: -1px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                &.true {
                  background-color: #43b581;
                }
                &.false {
                  background-color: #747f8d;
                }
                background-color:red;
              }
            }
            &:hover .unsubscribe {
              visibility: visible;
            }
            .unsubscribe {
              visibility: hidden;
              width: 18px;
              height: 18px;
              z-index: 2;
              background-image: image-url('close_icon.svg');
              background-size:90%;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        .channel-list-selectable {
          display: flex;
          align-items: center;
          margin: 1px 8px;
          border-radius: 3px;
          padding: 8px;
          width: 225px;
          height: 32px;
          font-size: 14px;
          font-weight: 500;
          color: #717276;
          .channel-name {
            width: 185px;
          }
          &.active {
            background-color: rgba(79, 84, 92, 0.6);
            color: #f6f6f7;
            &:hover {
              background-color: rgba(79, 84, 92, 0.6);
              &.dm-selector .user-img .status-indicator {
                border: 2px solid #43454d;
              }
            }
          }
          &:hover {
            color: #f6f6f7;
            background-color: #36393f;
          }
          &.friends-list {
            &:hover svg{
              color: white;
            }
            &.active svg{
              color: white;
            }
            svg {
              width: 24px;
              height: 24px;
              margin-right: 18px;
            }
          }
          &.channel-selector {
            &:hover .unsubscribe {
              visibility: visible;
            }
            &:hover .gear {
              visibility: visible;
            }
            .hashtag {
              margin-right: 5px;
              display: flex;
              align-items: center;
            }
            .gear {
              visibility: hidden;
              width: 17px;
              height: 17px;
              margin-right: 3px;
            }
            .unsubscribe {
              visibility: hidden;
              width: 23px;
              height: 23px;
              z-index: 2;
              background-image: image-url('close_icon.svg');
              background-size:90%;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        .direct-messages-header {
          margin-top: 12px;
          padding: 9px 20px;
          font-size: 14px;
          color: #717276;
        }

        .channel-category-header {
          padding: 9px 20px;
          font-size: 14px;
          color: #717276;
        }
      }
      .footer {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c2c32;

        .current-user-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .name-tag {
            width: 100px;
            display:flex;
            align-items: center;
            position: relative;
            .user-img {
              background-size: 40px 40px;
              overflow:hidden;
              height: 30px;
              min-height: 30px;
              width: 30px;
              min-width: 30px;
              border-radius: 20px;
              margin: 0 10px;
            }
            .status-indicator {
              width: 10px;
              height: 10px;
              border-radius: 5px;
              margin-right: 8px;
              position: absolute;
              left: 32px;
              bottom: -2px;
              border: 2px solid #2c2d32;
              background-color:#43b581;
            }
            .namecontainer {
              .username {
                font-weight:500;
                color: white;
                font-size: 15px;
                height: 17px;
                line-height: 17px;
              }
              .stringId {
                color: #6a7582;
                font-size: 10px;
                vertical-align: baseline;
                height: 13px;
                line-height: 13px;
              }
            }
          }
          .logout {
            margin-right: 12px;
            background-color: transparent;
            background-image: image-url('logout.svg');
            background-size:50%;
            background-repeat: no-repeat;
            background-position: center;
            width: 28px;
            height: 28px;
            transition: background-color 0.2s linear;
            border-radius: 5px;
            &:hover {
              background-color: rgba(24,25,28,.3);
              cursor: pointer
            }
          }
        }
      }
    }

    .content-container {
      width: calc(100% - 310px);
      display: flex;
      flex-wrap:wrap;
      height: 100%;

      .head {
        width: 100%;
        height: 48px;
        border-bottom: 1px solid hsl(330, 4%, 91%);
        padding: 0 12px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .hashtag {
          color: rgb(79, 84, 92);
        }
        .username {
          display: flex;
          align-items: center;
          margin-left: 5px;
          color: rgb(79, 84, 92);
        }
        .friends-selectable {
          height: 25px;
          margin: 0 0 0 10px;
          color: #99aab5;
          // display:inline-block;
          width: 70px;
          background-color: transparent;
          &:hover {
            background-color:  rgba(153, 170, 181, 0.2);
          }
          &.selected {
            color: white;
            background-color: rgb(153, 170, 181);
            &:hover {
              cursor:default;
            }
          }
        }
      }

      .friends-list {
        width: 100%;
        height: calc(100% - 48px);


        .friends-table-header {
          width: 100%;
          height: 35px;
          padding: 8px 30px;
          border-bottom: 1px solid #e9e7e7;
          display: flex;
          div {
            vertical-align:middle;
            margin-left: 30px;
            width: 200px;
            font-size: 13px;
            height: 18px;
            line-height: 18px;
            color: rgb(153, 170, 181);
          }
          div:first-of-type {
            margin-left: 0;
            border-right: 1px solid #e9e7e7;
          }
        }

        .scrollable {
          height: 100%;
          padding-top: 2px;
          overflow-y: auto;
          overflow-x: hidden;

          &::-webkit-scrollbar-track{
            border-radius: 10px;
          }

          &::-webkit-scrollbar{
            width: 8px;
            border-radius: 10px;
            // background-color: #F5F5F5;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb{
            // background-color: #7188da;
            background-color: transparent;
            border-radius: 10px;
          }

          .friend-wrapper {
            margin: 0 20px;
            border-bottom: 1px solid hsl(330, 4%, 91%);
            &:last-of-type {
              border-bottom: 0 solid black;
            }
            .friend-selector {
              display:flex;
              align-items: center;
              height: 60px;
              border-radius: 5px;
              .name-tag {
                width: 210px;
                display:flex;
                align-items: center;
                .username {
                  font-weight:500;
                  color: #6a7582;
                  span {
                    visibility: hidden;
                    color: rgb(115, 127, 141);
                    font-weight:400;
                    font-size: 12px;
                  }
                }
              }
              .user-img {
                background-size: 40px 40px;
                overflow:hidden;
                height: 30px;
                min-height: 30px;
                width: 30px;
                min-width: 30px;
                border-radius: 20px;
                margin: 0 10px;
              }
              .status-wrapper {
                margin-left: 30px;
                display: flex;
                align-items: center;
                margin-right: auto;
                .status {
                  font-size: 16px;
                  // height: 18px;
                  // line-height: 18px;
                  font-weight: 200;
                  color: rgb(153, 170, 181);
                }
                .status-indicator {
                  width: 10px;
                  height: 10px;
                  border-radius: 5px;
                  margin-right: 8px;
                  &.true {
                    background-color: #43b581;
                  }
                  &.false {
                    background-color: #747f8d;
                  }
                  background-color:red;
                }
              }
              .unfriend-button {
                visibility: hidden;
                margin-right: 30px;
                background-color: #99aab5;
                background-image: image-url('unfriend_button.svg');
                background-size:80%;
                background-repeat: no-repeat;
                background-position: center;
                width: 36px;
                height: 36px;
                transition: background-color 0.2s linear;
                border-radius: 5px;
                &:hover {
                  background-color: #f04747;
                }
              }
              &:hover {
                background-color: rgba(153,170,181,.2);
                cursor: pointer;
                .name-tag .username span {
                  visibility: visible;
                }
                .unfriend-button{
                  visibility: visible;
                }
              }
            }
          }

        }
      }

      .live-chat {
        margin: 0;
        &.dm {
          width: 100%;
        }

        &.channel {
          width: calc(100% - 240px);
        }

        height: calc(100% - 48px);

        .scrollable{
          box-sizing: border-box;
          overflow-y: auto;
          overflow-x: hidden;

          display:flex;
          align-items: flex-end;
          .holder {
            max-height: calc(100vh - 142px);
            width: 100%;
          }
          height: calc(100% - 102px);

          &::-webkit-scrollbar-track{
            border-radius: 10px;
          }

          &::-webkit-scrollbar{
            width: 12px;
            border-radius: 10px;
            border: 2px solid white;
            background-color: #F5F5F5;
            // background-color: red;
          }

          &::-webkit-scrollbar-thumb{
            background-color: #7188da;
            border: 2px solid white;
            border-radius: 10px;
          }

          .message-wrapper {

            &:first-of-type {
              margin-top: 30px;
            }

            position: relative;
            background-color: white;
            margin: 0 12px 0 20px;
            padding: 20px 0;
            border-top: 1px solid rgb(236, 238, 239);

            .content-holder {
              display: flex;

              .user-img {
                background-size: 40px 40px;
                overflow:hidden;
                height: 40px;
                min-height: 40px;
                width: 40px;
                min-width: 40px;
                border-radius: 20px;
              }

              .messages-container {
                margin-left: 20px;
                .header {
                  display: flex;
                  align-items:center;
                  .username {
                    color: rgb(47, 49, 54);
                    font-size: 16px;
                  }
                  .time-stamp {
                    margin-left: 6px;
                    color: rgb(153, 170, 181);
                    font-size: 12px;
                    font-weight: 200;
                  }
                }
                ul {
                  color: rgb(115, 127, 141);
                  font-size: 15px;
                  font-weight: 200;

                }
              }
            }

            .date {
              &.false {
                visibility: hidden;
              }
              width: 100%;
              display:flex;
              justify-content: center;
              position: absolute;
              top: -13px;
              span{
                color: #99aab5;
                font-weight: 500;
                font-size: 14px;
                padding: 0 10px;
                background-color: white;
              }
            }
          }
          .author {
            font-weight: 700;
          }
          .timestamp {
            font-size: 12px;
          }
        }

        form {
          box-sizing: border-box;
          border-top: 2px solid rgb(236, 238, 239);
          margin: 0 20px;
        }
        input {
          margin: 25px 0;
          // border: 3px solid black;
          font-weight: 200;
          border-radius: 5px;
          background-color: #f6f6f7;
          color: #737f8d;
          &::placeholder{
            color:#c4c5c9;
          }
          width: 100%;
          height: 50px;
          padding: 10px;
          // margin-right: 10px;
        }
      }

      .members-list {
        width: 240px;
        background-color: #F5F5F5;

        height: calc(100% - 48px);

        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        ul {
          width: 100%;
        }

        &::-webkit-scrollbar-track{
          border-radius: 10px;
        }

        &::-webkit-scrollbar{
          width: 8px;
          border-radius: 10px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb{
          background-color: transparent;
          border-radius: 10px;
        }

        .member-list-selectable {
          display: flex;
          align-items: center;
          margin: 1px 0;
          // border-radius: 3px;
          padding: 8px 16px 8px 30px;
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-weight: 500;
          color: #717276;
          .channel-name {
            width: 150px;
          }
          &:hover {
            // color: #f6f6f7;
            background: linear-gradient(90deg,#ebebeb 85%,#f3f3f3);
            // background-color: #36393f;
            cursor: pointer;
            &.member-selector .user-img .status-indicator {
              border: 1px solid #F5F5F5;

            }
          }

          &.member-selector {
            .user-img {
              background-size: 40px 40px;
              .image-holder {
                overflow:hidden;
                border-radius: 20px;
              }
              height: 30px;
              min-height: 30px;
              width: 30px;
              min-width: 30px;
              margin-right: 12px;
              position: relative;
              .status-indicator {
                border: 1px solid #F5F5F5;
                position: absolute;
                clear:both;
                right: -1px;
                bottom: -1px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                &.true {
                  background-color: #43b581;
                }
                &.false {
                  background-color: #747f8d;
                }
                background-color:red;
              }
            }
            &:hover .unsubscribe {
              visibility: visible;
            }
            .unsubscribe {
              visibility: hidden;
              width: 18px;
              height: 18px;
              z-index: 2;
              background-image: image-url('close_icon_dark.svg');
              background-size:90%;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        .members-header {
          margin-top: 12px;
          padding: 9px 20px;
          font-size: 14px;
          color: #717276;
        }

      }

    }

    // ### REMOVE LATER ###
    .tempButton {
      padding: 0;
      width: 200px;
      height: 50px;
    }
    .logoutButton{
      height: 30px;
      width: 200px;
      margin: 0 auto;
    }
    form {
      display: flex;
    }

    .loading-page {
      background-color: #2C2F33;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: opacity 0 linear;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      video {
        width: 200px;
        height: 200px;
      }
      div {
        font-size: 15px;
        color: white;
      }
      &.loaded {
        opacity: 0;
        transition: opacity 1.5s cubic-bezier(.84,-0.72,.91,.52);
      }
    }
    button {
      // ### REMOVE LATER ###
      height: 50px;
      width: 200px;
      // ### REMOVE LATER ###
      display: inline-block;
      font-family: 'Mukta Vaani', sans-serif;
      border-radius: 5px;
      background-color: #7289da;
      color: white;
      // line-height: 58px;
      // margin: 43px 0 0;
      padding: 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
      -webkit-transition: background-color .2s ease-out ;
      -moz-transition: background-color .2s ease-out ;
      -o-transition: background-color .2s ease-out ;
      transition: background-color .2s ease-out;
      &:hover{
        background-color: #697ec4;
      }
    }
  }

  #modal-container {
    position: absolute;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.66);

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: background-color .2s ease-out ;
    -moz-transition: background-color .2s ease-out ;
    -o-transition: background-color .2s ease-out ;
    transition: background-color .2s ease-out;
    &.visible {
      visibility: visible;
      background-color: rgba(0,0,0,0.66);
    }
    &.hidden {
      visibility: hidden;
      background-color: rgba(0,0,0,0);
    }

    #create-friendship-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }

      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
    #create-dm-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }

      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
    #update-channel-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }
      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
    #rename-server-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }
      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
    #add-channel-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }
      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
    #invite-user-form {
      background-color: white;
      background-image: image-url('discord_background_0.png'),image-url('discord_background_1.png');
      background-position: 0 100%,100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 180px;
      border-radius: 5px;
      box-shadow: 0 0 50px #000;
      .form-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #737f8d;
      }
      .form-sub-title {
        margin-left: 20px;
        font-size: 15px;
        color: rgba(153,170,181,.9);
      }
      input {
        background-color: rgba(255,255,255,.5);
        box-shadow: 5px 5px 4px #888888;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 17px;
        width: 460px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &.true {
          border: 1px solid red;
        }
      }
      .error {
        margin-top: 5px;
        margin-left: 20px;
        color: red;
      }
    }
  }

}
