// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
  font-family: 'Mukta Malar', sans-serif;
  box-sizing: border-box;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  #auth-page {
    width: 100%;
    height: 100%;
    display: flex;


    &.background-0 {
      background: image-url('auth_background_0.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.background-1 {
      background: image-url('auth_background_1.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.background-2 {
      background: image-url('auth_background_2.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.background-3 {
      background: image-url('auth_background_3.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.background-4 {
      background: image-url('auth_background_4.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.background-5 {
      background: image-url('auth_background_5.jpg') fixed no-repeat;
      background-position: center;
      background-size: cover;
    }

    .auth-flash {
      background-color: #7289da;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: opacity 0 linear;
      &.inv {
        opacity: 0;
        transition: opacity .5s cubic-bezier(.25,.25,.315,.86);
      }
    }

    .auth-inner {
      &::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(10px);
        margin: -20px;
      }


      margin: auto;
      align-self: center;
      display: flex;
      border-radius: 3px;
      width: 628px;
      background: inherit;
      position: relative;
      z-index: 1;
      overflow: hidden;



      &.login {
        height: 394px;
      }
      &.signup {
        height: 528px;
      }

      .auth-brand {
        width: 228px;
        height: 100%;
        background-color: hsla(0,0%,100%,.8);
        padding: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;

        .auth-logo {
          width: 168px;
          height: 168px;
          background: image-url('discord_logo.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .auth-logo-name {
          width: 168px;
          height: 24px;
          margin-top: 30px;
          margin-bottom: 12px;
          background: image-url('discord_logo_name.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &::after {
          content: " ";
          background: #4f545c;
          height: 3px;
          margin: 0 auto;
          opacity: .3;
          width: 28px;
        }
      }

      .auth-form-container{
        width: 400px;
        height: 100%;
        background-color: rgba(40,43,48,.75);
        padding: 30px;
        font-family: 'Roboto', sans-serif;

        h1 {
          font-family: inherit;
          color: #fff;
          height: 18px;
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 30px;
          text-align: center;
          // vertical-align: bottom;;
          text-transform: uppercase;
        }

        .input-group:not(:first-of-type){
          margin-top: 18px;
        }

        label {
          color: #87909c;
          display: block;
          height: 11px;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          &.error {
            color: red;
            .error-message {
              font-size: 11px;
              font-weight: 200;
            }
          }
        }

        input {
          background: transparent;
          border-bottom: 1px solid hsla(0,0%,100%,.1);
          padding: 1px;
          height: 36px;
          color: #2f3136;
          font-size: 16px;
          font-weight: 400;
          margin-top: 12px;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          color: #fff;

          &:focus {
            border-bottom: 1px solid hsla(0,0%,100%,1);
          }

        }

        .forgot-password {
          color: #fff;
          font-size: 12px;
          height: 11px;
          font-weight: 700;
          margin: 10px 0 0;
          opacity: .25;
          padding: 0;
          text-transform: uppercase;
          -webkit-transition: opacity .2s ease-out ;
          -moz-transition: opacity .2s ease-out ;
          -o-transition: opacity .2s ease-out ;
          transition: opacity .2s ease-out;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        button {
          display: inline-block;
          font-family: 'Mukta Malar', sans-serif;
          border-radius: 5px;
          background-color: #7289da;
          color: white;
          line-height: 58px;
          margin: 43px 0 0;
          padding: 0;
          text-align: center;
          text-decoration: none;
          width: 100%;
          -webkit-transition: background-color .2s ease-out ;
          -moz-transition: background-color .2s ease-out ;
          -o-transition: background-color .2s ease-out ;
          transition: background-color .2s ease-out;
          &:hover{
            background-color: #697ec4;
          }
        }

        .footer {
          color: #87909c;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 0;
          margin-top: 10px;
          a {
            color: white;
            &:hover{
              cursor: pointer;
              border-bottom: 2px solid #fff;
              padding-bottom: 5px;
            }
          }
        }
        .divider {
          background-color: hsla(0,0%,100%,.1);
          height: 1px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .disclaimer {
          color: #87909c;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 0;
          margin-top: 20px;
          a {
            color: white;
            &:hover{
              cursor: pointer;
              border-bottom: 2px solid #fff;
              padding-bottom: 5px;
            }
          }
        }
      }
    }


    .auth-copyright {
      bottom: 20px;
      font-weight: 200;
      color: #fff;
      font-size: 12px;
      left: 20px;
      line-height: 14px;
      opacity: .5;
      position: fixed;
      z-index: 1;
    }

  }

  #main-page {
    button {
      display: inline-block;
      font-family: 'Mukta Malar', sans-serif;
      border-radius: 5px;
      background-color: #7289da;
      color: white;
      line-height: 58px;
      margin: 43px 0 0;
      padding: 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
      -webkit-transition: background-color .2s ease-out ;
      -moz-transition: background-color .2s ease-out ;
      -o-transition: background-color .2s ease-out ;
      transition: background-color .2s ease-out;
      &:hover{
        background-color: #697ec4;
      }
    }
  }
}
